### Задание 1

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn.datasets import load_boston

In [4]:
boston = load_boston()
print(boston['DESCR'])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [5]:
data = boston["data"]

In [6]:
feature_names = boston["feature_names"]

In [7]:
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
target = boston["target"]

In [9]:
y = pd.DataFrame(target, columns=["price"])
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
lr = LinearRegression()

In [14]:
lr.fit(X_train, y_train)

LinearRegression()

In [15]:
y_pred = lr.predict(X_test)

In [16]:
y_pred.shape

(152, 1)

In [17]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})
check_test.head(20)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433
218    21.5  24.822862
9      18.9  18.530570
414     7.0  -6.865435
78     21.2  21.801723
323    18.5  19.225712
473    29.8  26.191920
124    18.8  20.277339
388    10.2   5.615964
195    50.0  40.448880
448    14.1  17.576959

In [18]:
check_test["error"] = check_test["y_pred"] - check_test["y_test"]
check_test.head(20)

     y_test     y_pred      error
173    23.6  28.648960   5.048960
274    32.4  36.495014   4.095014
491    13.6  15.411193   1.811193
72     22.8  25.403213   2.603213
452    16.1  18.855280   2.755280
76     20.0  23.146689   3.146689
316    17.8  17.392124  -0.407876
140    14.0  14.078599   0.078599
471    19.6  23.036927   3.436927
500    16.8  20.599433   3.799433
218    21.5  24.822862   3.322862
9      18.9  18.530570  -0.369430
414     7.0  -6.865435 -13.865435
78     21.2  21.801723   0.601723
323    18.5  19.225712   0.725712
473    29.8  26.191920  -3.608080
124    18.8  20.277339   1.477339
388    10.2   5.615964  -4.584036
195    50.0  40.448880  -9.551120
448    14.1  17.576959   3.476959

In [19]:
from sklearn.metrics import r2_score

In [20]:
r2 = r2_score(check_test["y_pred"], check_test["y_test"])
r2

0.669370269149561

### Задание 2

In [21]:
from sklearn.ensemble import RandomForestRegressor

In [22]:
model = RandomForestRegressor(criterion='mse', max_depth=20, random_state=42, n_estimators=1000)

In [23]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=20, n_estimators=1000, random_state=42)

In [24]:
y_pred = model.predict(X_test)

In [25]:
check_test2 = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})
check_test2.head(20)

     y_test     y_pred
173    23.6  22.873544
274    32.4  31.059700
491    13.6  16.335000
72     22.8  23.843300
452    16.1  17.139300
76     20.0  21.765895
316    17.8  19.871000
140    14.0  14.751500
471    19.6  21.256343
500    16.8  20.854817
218    21.5  20.215700
9      18.9  19.963000
414     7.0   8.002400
78     21.2  21.498932
323    18.5  19.282489
473    29.8  25.231200
124    18.8  18.915000
388    10.2   8.436400
195    50.0  45.907300
448    14.1  15.546400

In [26]:
r2 = r2_score(check_test2["y_pred"], check_test2["y_test"])
r2

0.8497188397033231

r2 для RandomForestRegressor ближе к единице чем r2 для LinearRegression
Значит модель RandomForestRegressor работает лучше.